body{
    background-color: rgb(255, 255, 255);
}
nav{
    font-size: 20px;
    
}
nav img{
    height: 100px;
    
    
}
div button{
    background-color: rgb(255, 199, 199);
    box-shadow: rgb(189, 76, 76) 5px 5px 5px;
    border-radius: 8px;
}
section button{
    text-align: center;
    height: 50px;
    width: 120px;
    background-color: rgb(232, 255, 248);
    border-radius: 8px;
    margin-bottom: 60px;
    box-shadow: rgb(76, 189, 189) 5px 5px 5px;
    margin-left: 15px;
   margin-right: 15px;
   margin-top: 20px;
}
button:hover{
    background-color:rgb(255, 238, 128);
    color: rgb(255, 255, 255);
    box-shadow: rgb(164, 155, 93) 5px 5px 5px;
}


li{ list-style-type: none;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
   font-family: customfont;
   letter-spacing: 1px;

    
}

h3{
    text-align: center;
   background-color: teal;
   margin: -10px;
}
header{
    
    text-align: center;
    
}
h1{
    margin-top: 70px;
    font-size: 100px;
    color: teal;
    letter-spacing: 4px;
   
    
}
h2{
    font-size: 50px;
    color: teal;
        letter-spacing: 15px;
        text-align: center;
        margin-top: -50px;
}
h4{
    font-size: 45px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px teal;
    text-align: center;
   padding-bottom: 20px;
    
}
section{
    padding: 30px;
    
}
span {
    height: 350px;
    width: auto;
    text-align: center;

}
article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    text-align: center;
    width:100%;

}

   
/* @media only screen and (min-width: 1350px) {
    article {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
} */

@media only screen and (max-width: 1500px) {
    article {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1100px) {
    article {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 700px) {
    article {
        grid-template-columns: 1fr;
    }
}

img{
    height:250px;
    border: 3px solid teal;
}
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: teal;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #f4d436;
    /* Add a dark-grey background on hover */}