body{
    background-color: teal;
}
header{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 60px;
   margin-top: -50px;
   margin-left: -10PX;
   margin-right: -10px;
    height: 270px;
}
header h1{
    font-size: 80px;
    padding-top:150px;
    
}
header h2{
    font-size: 20px;
    margin-top: -50px;
    padding-bottom: 50px;

}
p {
    font-size: 30px;
    padding-bottom: 0px;
}
img{
    height: 180px;
}
div {
    margin: 10px;

}
nav {
    padding-left: 30px;
}
nav ul li {
    display: inline-block;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 20px;
    font-size: 23px;
}

nav ul li a {
    color: teal;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8em;
}
main {
    background: rgb(247, 224, 255);
    display: flex;
    padding: 15px;
    min-height: 500px;
}

main section,
main sidebar {
    min-height: 400px;
    padding: 10px;
}

main section {
    width: 60%;
    background: rgb(255, 255, 255);
}

main sidebar {
    width: 40%;
    background: rgb(255, 255, 255);
    display: block;

}

#menu {
    margin-left: 20px;
    position: absolute;
    color: rgb(255, 221, 0);
    cursor: pointer;
    size: 30px;

}

#panel {
    position: fixed;
    width: 290px;
    height: 100vh;
    top: -5px;
    left: -340px;
    background: #ffffff;
    transition: all 0.5s ease-in;
    padding: 20px;
}

#panel.slide-in {
    transform: translateX(290px);
}

#close {
    width: 25px;
    position: relative;
    left: 250px;
    top: -15px;
}

@media only screen and (max-width: 600px) {
    main {
        display: block;
    }

    main section {
        width: 100%;
    }

    main sidebar {
        width: 100%;
    }

}
section button{
    background-color: #ffffff;
border-radius: 10px;
    font-size: 30px;
    height: 60px;
    width: 140px;
align-items: center;
font-family: sans-serif;
    
}
button:hover{
    background-color: rgb(237, 204, 119);
    box-shadow: rgb(40, 40, 38) 5px 5px 5px;
    
}
a:hover{
    text-shadow: rgb(244, 227, 160) 3px 3px 3px;
}